$primary-color: #000;
$secondary-color: #fff;
 
$base-font-size: 21.3;

@mixin font-size ($param){
    //((Xpt*Kpx) / Bpx) * 1em --> ((points to pixels) divided by base) * type
    font-size: (($param * 1.3333) / $base-font-size) * 1em;
};

@mixin width($param, $param2){
    width: $param / $param2 * 100%;
}

@mixin height($param, $param2){
    height: $param / $param2 * 100%;
}

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin colums ($amount, $space) {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .colum {
        width: (100% / $amount) - $space;
    }
}

@mixin colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}